body{
    background-color: rgb(123, 235, 179);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2px 2px;
    grid-template-areas:
    ". north . "
    "west . east"
    ". south . ";
    width: 100px;
    height: auto;
    cursor: pointer;
}
h1{
    font-size: xx-large;
    color: darkslategrey;
}

input,
button {
    background-color: azure;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-color: antiquewhite;
    border-radius: 5px;
}

.north {
    grid-area: north;
    display: inline-block;
    height: 70px;
    width: 70px;
}

.west {
    grid-area: west;
    display: inline-block;
    height: 70px;
    width: 70px;
}

.south {
    grid-area: south;
    display: inline-block;
    height: 70px;
    width: 70px;
}

.playerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
}

.east {
    grid-area: east;
    display: inline-block;
    height: 70px;
    width: 70px;
}

.middle {
    grid-area: middle;
    display: inline-block;
    height: 70px;
    width: 70px;
    font-size: small;
}


#position {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

.carrot,
.rabbit {
    z-index: 1;
    position: absolute;
    top: 250px;
    left: 250px;
    width: 250px;
    height: 250px;
}

#mainpicture {
    z-index: -1;
    position: relative;
    top: 0;
    left: 0;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#playerGrid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 2px;
    width: 100px;
}
